/* syle.css */
html,
body{
    margin: 0;
    background-image: linear-gradient(to top right, rgb(183, 208, 240), rgb(45, 65, 179));
    display: flex;
    flex-direction: column;
    /* background-image: url('US Map.png'); */
}

.flex{
    display: flex;
}

.flex > *{
    font-size: 25px;
}

p{
    text-align: left;
    font-size: 22px;
}

h1 {
    color:rgb(118, 235, 235);
    font-family: "georgia";
    text-shadow: 1px 1px #5fa7b9;
}

img{ 
    display: block;
    border: 5px solid #555; 
}

/* Self-Defined Classes */
.pbackground{
    text-align: center;
    font-size: 22px;
    width: 80%;
    background-color: rgb(230, 199, 230);
    margin: auto;
}

.container{
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btnCA{
    position: absolute;
    left: 18%;
    top: 56%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);    
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/* IDs */
#pic{
    margin: auto;
    width: 80%;
}
